/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
body{
  font-family: 'Montserrat';

}
#title{
  background-color: #FF5858;
  color: white;
}
h1{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}
.container-fluid{
  padding: 3% 15%;
}
.navbar{
padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;

}
.nav-link{
  font-family: 'Montserrat-light';
  color: #B2B2B2;
  font-weight:bold;
  font-size: 1.2rem;
}
.nav-item{
  padding: 0 18px;
}
.imgDog{
  transform: rotate(20deg);
padding-top: 5%;
}
.btnMarket{
  min-width: 160px;
  margin: 5% 3% 5% 0;
}
