/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
body{
  font-family: 'Montserrat';

}
#title{
  background-color: #FF5858;
  color: white;
}
h1{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{
  font-family: 'Montserrat';
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: bold;

}
h3{
  font-family: 'Montserrat';
  font-size: 1.4rem;
  font-weight: 900;
}
p{
  font-weight:normal;
  color: black;
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 200;
}
.row{
  margin-left:0;
  margin-right: 0;
}
.container-fluid{
  padding: 3% 15%;
}
.titleContainer{
  padding-bottom: 15%;
}
.navbar{
padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  padding-left: 12px;

}
.nav-link{
  font-family: 'Montserrat-light';
  color: #B2B2B2;
  font-weight:bold;
  font-size: 1.2rem;
}
.nav-item{
  padding: 0 18px;
}
#titleColumn{
  position: relative;
  z-index: 1;
}
.imgDog{
  transform: rotate(20deg);
  width: 23%;
  min-width: 300px;
/* padding-top: 5%; */
position: absolute;
z-index: 0;
right: 20%;
}

/* Features section */
#features{
  margin: 0;
  background-color: #fff;
  position: relative;
  padding: 4% 0;
  /* z-index: 1; */
}
.btnMarket{
  min-width: 160px;
  margin: 5% 3% 5% 0;
}
.rowFeature{
  text-align: center;
}
.iconFeature{
  /* font-size: 2.5rem; */
  color: #FF5858;
  line-height: 2;
}
.iconFeature:hover { color: #FF9F9F; }

/* Testimonials section  */

#testimonials{
  text-align: center;
  background-color: #FF9F9F;
  color: #fff;

  /* padding: 1.5rem 0 25px; */
}
.testimonials-image{
  border-radius: 100%;
  margin: 15px;
  width: 15%;
  /* min-width: 80px; */
}
.carousel-item{
  padding: 7% 15%;
}


/* Press section */


#press{
  text-align: center;
  background-color: #FF9F9F;
  color: #fff;
  padding: 1.5rem 0;
}
.press-image{
width: 15%;
margin: 20px 20px ;

}

/* Pricing section */

#pricing{
  text-align: center;
  margin-top: 2%;
}
.card-body-inner{
  height: 300px;
  margin-bottom: 20px;
}
.pricingBtnOutline{
  color: #FF9F9F;
  border-color: #FF9F9F;
  font-weight: bold;
}
.pricingBtnOutline:hover{
  background-color: #FF9F9F;
  border-color: #fff;
  color: #fff;
}
.pricingBtn{
  border-color: #FF9F9F;
  background-color: #FF9F9F;
  color: #fff;
  font-weight: bold;
}
.pricingBtn:hover{
  color: #FF9F9F;
  border-color: #FF9F9F;
  background-color: #fff;
}
.pricingColumn{
  padding: 3% 2%;
}
